!!! 5
//if IE 8
  html.ie8(lang='ru-RU', ng-app='pt')
// [if gt IE 8] <!
html(lang='ru-RU', ng-app='pt')
  // <![endif]
  head
    meta(charset='utf-8')
    title Полар Тур
    link(rel='stylesheet', media='screen', href='css/screen.css')
    link(rel='stylesheet', media='screen', href='/flags/flags.css')
    link(rel='stylesheet', media='screen', href='scripts/modules/pt-banners/pt-banners.css')
    link(rel="stylesheet", media='screen', href="/components/iCheck/skins/minimal/grey.css")
    link(href='//fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,cyrillic', rel='stylesheet', type='text/css')
    //if lt IE 9
      script(src='/components/html5shiv/dist/html5shiv.js')
      script(src='/components/es5-shim/es5-shim.min.js')
    script(src="//api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU")
    script(src='/components/jquery/jquery.min.js')
    script(src='/components/store/store.min.js')
    script(src='/components/angular/angular.min.js')
    script(src='/components/angular-resource/angular-resource.min.js')
    script(src="/components/iCheck/jquery.icheck.min.js")
    script(src='scripts/modules/pt-select/pt-select.js')
    script(src='scripts/modules/pt-checkbox/pt-checkbox.js')
    script(src='scripts/modules/pt-menu/pt-menu.js')
    script(src='scripts/modules/pt-range/pt-range.js')
    script(src='scripts/modules/pt-accounting-documents/pt-accounting-documents.js')
    script(src='scripts/modules/pt-exchange-rates/pt-exchange-rates.js')
    script(src='scripts/modules/pt-countries/pt-countries.js')
    script(src='scripts/modules/pt-phones/pt-phones.js')
    script(src='scripts/modules/pt-pagination/pt-pagination.js')
    script(src='scripts/modules/pt-news/pt-news.js')
    script(src='scripts/modules/pt-passengers/pt-passengers.js')
    script(src='scripts/modules/pt-region/pt-region.js')
    script(src='scripts/modules/pt-search/pt-search.js')
    script(src='scripts/modules/pt-banners/pt-banners.js')
    script(src='scripts/modules/pt-hotels/pt-hotels.js')
    script(src='scripts/modules/pt-map/pt-map.js')
    script(src='scripts/modules/pt-number/pt-number.js')
    script(src='scripts/modules/pt-contacts/pt-contacts.js')
    script(src='scripts/modules/pt-pages/pt-pages.js')
    script(src='scripts/modules/pt-gallery/pt-gallery.js')
    script(src='scripts/modules/pt-excursions/pt-excursions.js')
    script(src='scripts/modules/pt-supplements/pt-supplements.js')
    script(src='scripts/modules/pt-calendar/pt-calendar.js')
    script(src='scripts/modules/pt-subscribtion/pt-subscribtion.js')
    script(src='scripts/modules/pt-form-descriptions/pt-form-descriptions.js')
    script(src='scripts/modules/pt-feedback/pt-feedback.js')
    script(src='scripts/modules/pt-booking-request/pt-booking-request.js')
    script(src='scripts/modules/pt-radio/pt-radio.js')
    script(src='scripts/modules/pt-accounting-documents/pt-accounting-documents.js')
    script(src='scripts/modules/pt-airfares/pt-airfares.js')
    script(src='scripts/index.js')
  body(ng-view='')
