.label__in(ng-class="{label_active: focused}")
  input.label__text(type='text', ng-model="text")
  .label__btn(ng-click="toggleFocus()")
  .label__drop(ng-show="focused")
    div(ng-transclude)
    .toddler
      .toddler__line
        .toddler__drag
          .toddler__btn-left
          .toddler__btn-right
      .toddler__values
        .toddler__min {{ min }}
        .toddler__max {{ max }}
