label.label.label_radio(ng-repeat="value in values")
  .input-radio(ng-click="setValue(value)", ng-class="{'input-radio_checked': isSelected(value)}")
  .label__title(ng-click="setValue(value)") {{ value.value }}
