section.block.block__color-brown.block__size-container.block__display-inline.payment_services_block(style="padding-top: 10px; padding-bottom: 10px;")
  .payment_services
    .payment_services-title.block-header способы оплаты
    a.payment_services-link.payment_services-link__service-fpb_bank(href="#!/")
      img(src="/images/payment-services/fpb-bank.png")
    a.payment_services-link.payment_services-link__service-promsvyazbank(href="#!/")
      img(src="/images/payment-services/promsvyazbank.png")
    a.payment_services-link.payment_services-link__service-contact(href="#!/")
      img(src="/images/payment-services/contact.png")
    a.payment_services-link.payment_services-link__service-terminal(href="#!/")
      img(src="/images/payment-services/terminals.png")
      span Платежные терминалы