.label__in(ng-class="{label_active: focused}")
  .label__select
    input.label__text(type='text', autocorrect="off", autocapitalize="off", ng-model="text")
    button.label__btn(ng-click="focus()")
  .label__drop(ng-show="focused")
    .label__list
      .label__list-item(ng-repeat="value in filteredValues", ng-class="{'label__list-item_selected': value == selected}", ng-click="setValue(value)") {{ value.value }}
