.label__in
  .label__select.label__select_date
    input.label__text(type='text', ng-model="dateText", placeholder="{{ placeholder }}")
    button.label__btn
    .label__drop.label__drop_dp(ng-show="focused")
      .dp
        .dp__nav
          button.dp_prev(ng-click="prevMonth()", ng-show="showPrev()")
          .dp__period.dp__period_month(ng-class="{dp__period_active: showMonths}")
            .dp__value(ng-click="showMonths = !showMonths") {{ months[month.getUTCMonth()] }}
            button.dp__btn(ng-click="showMonths = !showMonths")
            .dp__list(ng-show="showMonths")
              .dp__list-item(ng-repeat="month in months", ng-click="setMonth($index)") {{ month }}
          .dp__period.dp__period_year(ng-class="{dp__period_active: showYears}")
            .dp__value(ng-click="showYears = !showYears") {{ month.getUTCFullYear() }}
            button.dp__btn(ng-click="showYears = !showYears")
            .dp__list(ng-show="showYears")
              .dp__list-item(ng-repeat="year in years", ng-click="setYear(year)") {{ year }}
          button.dp_next(ng-click="nextMonth()", ng-show="showNext()")
        .dp__calendar
          table.dp__table
            thead.dp__thead
              tr.dp__row
                th.dp__cell пн
                th.dp__cell вт
                th.dp__cell ср
                th.dp__cell чт
                th.dp__cell пт
                th.dp__cell сб
                th.dp__cell вс
            tbody.dp__tbody
              tr.dp__row
                th.dp__cell
                th.dp__cell
                th.dp__cell
                th.dp__cell
                th.dp__cell
                th.dp__cell
                th.dp__cell
              tr.dp__row(ng-repeat="week in weeks")
                td.dp__cell(ng-repeat="day in week")
                  a.db__day(ng-class="{'db__day_no-active': day.inactive, 'db__day_active': isToday(day.date)}", ng-click="setDate(day.date)") {{ day.day }}
