.banners-add
  width 230px

  clearfix()

  .banners-add-item
    display block
    float left
    margin 10px 15px 10px 0px
    background white
    color black
    font-size 20px
    text-decoration none
    text-align center
    cursor pointer

  .banners-add-item-1x1
    width 60px
    height 60px
    line-height 56px

  .banners-add-item-2x1
    width 135px
    height 60px
    line-height 56px

  .banners-add-item-1x2
    width 60px
    height 100px
    line-height 100px

  .banners-add-item-2x2
    width 135px
    height 100px
    line-height 100px

  .banners-add-item-3x1
    width 210px
    height 60px
    line-height 56px

  .banners-add-item-3x2
    width 210px
    height 100px
    line-height 100px

.banners-container
  float right
  width 810px
  padding 30px 0px 30px 30px

  clearfix()

  .galleria-stage
    width inherit
    height inherit

  .banners
    list-style-type none
    margin 0
    padding 0

    clearfix()

    .banners-item
      margin 14px 30px 14px 0px
      padding 0px
      float left
      font-size 4em
      text-align center 
      cursor pointer
      background #d2d2d2
      overflow hidden

    .banners-item-html
      display inline-block
      overflow hidden

.banners-detail-type
  color white

  input
    width 20px !important

.banners-detail
  .big_button
    float right
    width auto
    margin-right 30px
    padding-right 20px
    padding-left 20px
