.dashboard
  padding 15px 0px
  clearfix()

  .dashboard-block
    float left
    width 480px
    background #1b8fb5
    padding 30px
    margin 15px 15px 15px 0px

    color white

    &:nth-child(even)
      float right
      margin-right 0px
      margin-left 15px

      clearfix()

    .dashboard-block-title
      display block
      margin-bottom 10px

      color white
      text-decoration none
      font-size 28px

    .dashboard-block-content
      font-size 18px
      