.group-users, .group-permissions
  margin-top 15px

  clearfix()

  .group-users-item, .group-permissions-item
    margin-top 8px
    color white

    clearfix()

    span
      margin-right 20px

    .big_button
      float right
      width auto
      padding 0px 8px
      margin 0px

.group-users-add
  float right
  width auto
  padding 0px 8px
  margin 15px 0px 0px 0px

.group-users-header, .group-permissions-header
  font-size 24px
  color white

.group-users-list, .group-permissions-list
  margin-top 20px

  .group-users-list-item, .group-permissions-list-item
    margin-top 8px
    color white

    clearfix()

    span
      line-height 28px
      margin-right 20px

    .big_button
      float right
      width auto
      padding 0px 8px
      margin 0px