@import "nib"

global-reset()
reset-html5()

containerWidth = 1110px
asideWidth = 270px
contentWidth = containerWidth - asideWidth
headerHeight = 125px

lightblue = #4bc0fd
orange = #fba617
beige = #efebdf
wheat = #fcf8ca
white = #ffffff
brown = #c3b297
blue = #1b8fb5

@import "../select2"

@import "../page"
@import "../container"
@import "../logo"
@import "../menu"
@import "../big-button"
@import "../buttons-group"
@import "../content"
@import "../block"
@import "../search"
@import "../copyright"
@import "../input"
@import "../typeahead"
@import "../banners"
@import "../datepicker"

@import "header"
@import "title"
@import "dashboard"
@import "content"
@import "editable-select"
@import "modal"
@import "menu"
@import "banners"
@import "employees"
@import "phones"
@import "groups"
@import "login"
@import "files"

@import "../list"
