.login
  .login-form
    float left
    width 470px
    padding 10px 50px 0px 40px
    margin-bottom 30px
    background #1b8fb5

    clearfix()

    .login-form-field
      input
        width 100%

    .big_button
      float right
      width 220px

  .login-message
    float right
    width 510px
    padding 0px 20px
    line-height 20px
