.phones-detail
  clearfix()

  .multi-field
    clearfix()

    .multi-field-item
      position relative
      padding-right 40px
      margin-bottom 10px

      clearfix()

      .big_button
        position absolute
        top 0px
        right -15px
        margin 0px

    .big_button
      float right
      width auto
      padding 5px 10px
      margin 10px -15px 10px 0px
    