.hot__gallery
  position relative
  overflow hidden

  ul
    position absolute
    white-space nowrap
    overflow hidden
  
    transition  left .8s ease
    -ms-transition left .8s ease
    -o-transition  left .8s ease
    -webkit-transition  left .8s ease
    -moz-transition  left .8s ease
  
    li
      list-style none
      display inline-block
      overflow hidden
