div
  .label
    .add-field(ng-repeat="tourist in tourists")
      .btn-field.btn-field-open(ng-click="remove($index)", ng-show="tourists.length > 1")
        i.btn-field-ico
      .add-field__input
        input.label__text(type='text', ng-model="tourist.value", required)
  .label
    .add-field
      .btn-field.btn-field-add(ng-click="add()", ng-hide="tourists.length >= 9")
        i.btn-field-ico
