.country(ng-class="{country__white: white}")
  .country__item(ng-repeat="menuItem in countriesMenu")
    .country__item-in
      a.country__name(href="{{ menuItem.href }}")
        | {{ menuItem.name }}
        i.flag(class="flag-{{ menuItem.code }}")
      .country__nav
        a.country__link(ng-repeat="submenuItem in menuItem.submenu | orderBy:'+position'", href='{{ submenuItem.href }}') {{ submenuItem.name }}
