.big_button
  width 100%
  margin 30px 0
  padding 8px 0 12px
  border none
  border-radius 6px
  background-image linear-gradient(top, #FFCD65, #F7942B)
  box-shadow 0 3px 0 0 #A2661A, inset 0 1px 0 0 rgba(255, 255, 255, .4)
  font-family Roboto
  font-weight 700
  font-size 21px
  color white
  cursor pointer

  &:hover
    background #fdc7a3
    background-image linear-gradient(top, #fdc7a3, #f6952e)
    box-shadow 0 3px 0 #c48536

  &:active
    background #f7942c
    background-image linear-gradient(top, #f7942c, #fdcc63)
    box-shadow 0 1px 0 #905315

