.content
  background-color white

  clearfix()

  .content-header
    padding 30px
    font-size 24px
    font-weight bold

    @media all and (max-width: 767px)
      padding-left 10px

  .search
    margin-bottom 30px

    &.search-main
      margin-bottom 0

  .content-body
    padding 0px 30px 30px 30px
