.container
  width containerWidth
  margin 19px auto 0px auto
  background transparent

  @media all and (max-width: 1109px)
    width 768px

  @media all and (max-width: 767px)
    width auto
    margin 0px
