.copyright
  position absolute
  left 0px
  width 100%

  text-align center
  padding 15px 0px
  background #C3B297
  color #393939

  span:first-child
    float left
    margin-left 65px

  span:last-child
    float right
    margin-right 65px

  a
    color #393939
