.currency_rates
  width 100%
  font-size 15px

.currency_rates-last_column
  width 1%

.currency_rates-title
  padding 15px 0
  color #666666

.currency_rates-rate
  color #393939

.currency_rates tbody
  th, td
    border-top 1px solid blue

.currency_rates_block
  @media all and (max-width: 767px)
    display none

  @media all and (max-width: 1109px)
    display none
