@import "nib"

global-reset()
reset-html5()

containerWidth = 1110px
asideWidth = 270px
contentWidth = containerWidth - asideWidth
headerHeight = 125px

lightblue = #4bc0fd
orange = #fba617
beige = #efebdf
wheat = #fcf8ca
white = #ffffff
brown = #c3b297
blue = #1b8fb5

@import "select2"

@import "page"
@import "container"
@import "previous-website"
@import "logo"
@import "region"
@import "phones"
@import "menu"
@import "content"
@import "block"
@import "big-button"
@import "buttons-group"
@import "search"
@import "countries"
@import "banners"
@import "news"
@import "booking-info"
@import "currency-rates"
@import "payment-services"
@import "sitemap"
@import "copyright"
@import "datepicker"
@import "slider"
@import "checkbox"
@import "select-range"
@import "hotels"
@import "travallers"
@import "hotel-description"
@import "hotel-gallery"
@import "input"
@import "list"
@import "wysiwyg"
@import "multi-field"
@import "contacts"
@import "reports"
@import "subscribe"
@import "certificates"
@import "documents"
@import "previous-website-date"
@import "partners"
@import "typeahead"
@import "gallery"
@import "reservation"
@import "excursions"
@import "back-button"
@import "count-field"
