.logo
  float left
  display block
  width asideWidth
  height headerHeight
  background-image url("/images/logo.png")
  background-repeat no-repeat
  background-position center top

  @media all and (max-width: 767px)
    float none
    display block
    margin 0px auto

  @media all and (max-width: 1109px)
    width 220px
