.multi-field
  .multi-field-item
    position relative
    padding-right 50px
    margin-bottom 10px

    clearfix()

    .big_button
      position absolute
      top 0px
      right 0px

  .big_button
    width auto !important
    padding 0px 8px
    margin 0px