.news-article
  margin 20px 0 25px 0

.news-article-link
  display block
  color orange

  @media all and (max-width: 1109px)
    display inline-block

.news-article-time
  display block
  margin 10px 0
  font-size 13px
  color #333333

  @media all and (max-width: 1109px)
    display inline-block
    margin-left 5px

  @media all and (max-width: 767px)
    display block
    margin-left 0px

.news-more_link
  display block
  margin 20px 0
  text-align center
  font-size 21px
  font-weight bold
  color #397c93

  @media all and (max-width: 1109px)
    text-align left

  @media all and (max-width: 767px)
    text-align center

.news-list-header
  padding 30px 20px 0px 20px
  font-weight bold
  font-size 24px

  @media all and (max-width: 767px)
    text-align left

.news-list
  padding 0px 20px 10px 20px
  color #333
  line-height 20px

  .news-list-item
    padding-bottom 35px

    a
      color #F89522

    span
      position relative
      bottom 2px
      font-size 12px
      margin-left 20px

      @media all and (max-width: 767px)
        display block
        margin-top 5px
        margin-left 0px

    .news-list-item-body
      margin-top 5px
