.partners
  padding 0px 30px
  margin-bottom 20px
  color white
  font-size 16px

  clearfix()

  @media all and (max-width: 1109px)
    padding 0px 15px

  @media all and (max-width: 767px)
    width 100%
    padding 20px 0px 0px 0px
    text-align center
    border-top 1px solid white

  .partners-link
    float left
    display block
    width 210px

    @media all and (max-width: 1109px)
      width 133px

    @media all and (max-width: 767px)
      float none
      width 100%

  .partners-link-allspo
    margin-top  25px

  .partners-link-bronni
    margin-top  25px

  .partners-link-exat
    margin-top  5px

    @media all and (max-width: 1109px)
      padding-left 35px

    @media all and (max-width: 767px)
      padding-left 0px

  .partners-link-ruspo
    margin-top  25px

    @media all and (max-width: 1109px)
      padding-left 35px

    @media all and (max-width: 767px)
      padding-left 0px

  .partners-link-tourindex
    margin-top  25px

  .partners-title

    @media all and (max-width: 767px)
      float none !important
      margin-bottom 15px
      text-align center
      display block
      color #397c93 !important
      font-size 28px
      line-height 36px
      font-weight 300
