.payment_services
  float left

  @media all and (max-width: 1109px)
    margin-left 16px

  @media all and (max-width: 767px)
    clear left
    float none
    margin-bottom 30px

  .payment_services-title
    float none
    line-height 24px
    font-size 16px
    display block

    @media all and (max-width: 767px)
      float none !important
      text-align center
      display block
      color #397C93 !important
      font-size 28px
      margin-top 30px
      margin-bottom 20px
    

.payment_services-link
  float left
  display block
  margin-right 30px

  @media all and (max-width: 1109px)
    margin-right 16px

  @media all and (max-width: 767px)
    float none
    margin-top 20px

.payment_services-link__service-fpb_bank
  margin-top 12px

.payment_services-link__service-russlavbank
  margin-top 10px
  margin-right 100px
  margin-left 100px

.payment_services-link__service-promsvyazbank
  margin-top 9px
  margin-right 70px
  margin-left 150px

  @media all and (max-width: 1109px)
    margin-right 10px
    margin-left 20px

  @media all and (max-width: 767px)
    margin-right 0px
    margin-left 0px

.payment_services-link__service-contact
  margin-right 90px
  margin-left 70px

  @media all and (max-width: 1109px)
    margin-right 20px
    margin-left 10px

  @media all and (max-width: 767px)
    margin-right 0px
    margin-left 0px

.payment_services-link__service-terminal
  margin 0px
  color #FCFAC6
  font-size 16px

  img
    margin-right 6px

  span
    position relative
    top -15px
    color white

    @media all and (max-width: 767px)
      color #2B708C

.payment_services_block
  @media all and (max-width: 767px)
    width auto
    text-align center
    background #EEEADD

  @media all and (max-width: 1109px)
    width auto
    padding-left 0px

  h2
    @media all and (max-width: 1109px)
      display none

    @media all and (max-width: 767px)
      float none !important
      text-align center
      display block
      color #397C93 !important
