.phones
  float right

  @media all and (max-width: 767px)
    float none
    margin-bottom 10px

  @media all and (max-width: 1109px)
    margin-right 10px

.phones-type
  float left
  margin-left 40px
  color white

  @media all and (max-width: 767px)
    float none
    text-align center
    margin-left 0px

  @media all and (max-width: 1109px)
    margin-left 10px

.phones-type__position-first
  margin-left 0

  @media all and (max-width: 767px)
    margin-bottom 10px

.phones-type-description
  margin-left 12px
  line-height 22px

.phones-type-number
  line-height 24px
  font-size 21px

  @media all and (max-width: 767px)
    color white !important
