.previous_website
  float left
  margin-right 49px

  @media all and (max-width: 1109px)
    float none
    display inline
    padding 0px
    color white
    background transparent

  @media all and (max-width: 767px)
    padding-left 10px

.previous_website-link
  font-size 16px
  color white
