.region
  float left
  color white

  @media all and (max-width: 1109px)
    float none
    margin-top 24px

  @media all and (max-width: 767px)
    float none
    padding 10px
    text-align left

.region-select
  display block

  @media all and (max-width: 1109px)
    width 160px

  @media all and (max-width: 767px)
    width auto
