.reservation-header
  font-size 48px !important
  color #333

.reservation-description
  padding 10px 30px
  font-size 18px
  line-height 24px

.reservation
  margin-top 30px

  .reservation-field-container
    padding 30px 0px 0px 30px
    background #1b8fb5
    border-bottom 1px dotted #A1D18A
    color white

    clearfix()

    .reservation-save
      width 240px
      float right
      margin-top 0px
      margin-right 30px

    h2
      font-size 28px
      font-weight 300
      margin-bottom 20px

    .reservation-field
      float left
      margin-right 30px
      margin-bottom 20px

      label
        display block

      input
        width 315px
        margin 5px 0px

      .select2-container
        width 330px
        margin 5px 0px
        padding-bottom 2px

      &.reservation-field-city
        input
          width 240px

      &.reservation-field-agancy
        input
          width 240px

      &.reservation-field-phone
        input
          width 210px

      &.reservation-field-email
        input
          width 210px

      &.reservation-field-address
        input
          width 525px

      &.reservation-field-nights
        .select2-container
          width 105px

      &.reservation-field-count
        input
          width 180px

      &.reservation-field-date
        input
          width 110px

        span
          padding 0px 10px

        img
          border-top 1px solid white
          border-right 1px solid white
          border-bottom 1px solid white
          position relative
          top -3px

      &.reservation-field-tourists
        position relative
        color #333

        input
          padding-top 2px
          padding-left 6px

        .big_button
          position absolute
          bottom 0px
          right -24px
          width 24px
          margin 0px
          padding 0px 5px
          border-radius 0px
          box-shadow none

        .reservation-field-tourists-item
          position relative
          background #fcf8ca
          padding 20px 30px 10px 30px
          margin-bottom 1px

          clearfix()

          .big_button
            top 0px
            bottom auto
            margin 0px

      &.reservation-field-sex
        width 180px
        padding-top 7px
        margin-right 0px

        clearfix()

        label
          float left
          padding 5px 10px 0px 8px

        .iradio_polartour
          float left
          width 20px
          position relative
          top 3px
          

      &.reservation-field-fio
        label
          display inline-block
          margin-right 10px

        input
          width 407px

      &.reservation-field-birthday
        label
          display inline-block
          margin-right 10px

        input
          width 120px

      &.reservation-field-passport
        clearfix()

        input
          margin-left 10px

        .reservation-field-passport-series
          width 60px
          margin-left 0px

        .reservation-field-passport-number
          width 60px

        .reservation-field-passport-validity
          width 120px

        .reservation-field-passport-date
          width 120px

        .reservation-field-passport-who
          width 235px

        .reservation-field-passport-citizenship
          width 180px

      &.reservation-field-comment
        textarea
          margin 5px 0px
          width 1045px
          height 100px



