.subscribe
  margin-bottom 30px

  clearfix()

  .subscribe-form
    float left
    width 450px
    padding 0px 30px 0px 20px
    color white

    clearfix()

    input
      width 100%

    .subscribe-form-field
      margin-bottom 15px
      clearfix()

    .icheckbox_polartour
      float left
      margin-right  10px

    .big_button
      float right
      width 220px
      margin-top 0px

  .subscribe-description
    float right
    width 570px
    padding 0px 20px
    line-height 20px

  @media all and (max-width: 1109px)
    .subscribe-form
      width 295px

    .subscribe-description
      width 380px

  @media all and (max-width: 767px)
    .subscribe-form
      float none
      width auto
      padding-left 10px
      text-align center

      .subscribe-form-field
        text-align left

      .big_button
        float none

    .subscribe-description
      float none
      width auto
      margin-bottom 20px
      padding-left 10px
