.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint
  margin-bottom 0

.tt-dropdown-menu
  min-width 160px
  width 212px
  background-color #fff
  *border-right-width 2px
  *border-bottom-width 2px
  box-shadow 0 5px 10px rgba(0,0,0,.2)
  background-clip padding-box
  color #333

.tt-suggestion
  display: block;
  padding: 8px 10px;

.tt-suggestion.tt-is-under-cursor
  color #fff
  background-color #0081c2
  background-repeat repeat-x

.tt-suggestion.tt-is-under-cursor a
  color #fff


.tt-suggestion a
  margin 0
  font-size 16px
  text-decoration none
  color #333
