.content(pt-list)
  .title Справки стоимости А/Б

  section.content-block.block.block__color-blue(pt-search, class="block__search-collapsed")
    form.search
      .search-item
        label.search-label агенство
        input(ng-model="filters.agency")

      a.show-detail-search(href="#!/form-descriptions/ticket-price-request") редактировать описание
      a.show-detail-search(ng-click="filters = {}", href="javascript:void(0)") очистить фильтр

  section.content-body
    .list
      .list-title
        span.list-cell-width-6x агенство
        span.list-cell-width-4x e-mail
        span.list-cell-width-2x дата
  
      .list-placeholder

      .list-item(ng-repeat="certificate in filteredData | orderBy:'+createdAt'")
        a.list-cell-width-6x.list-cell-item(href="#!/ticket-price-requests/{{ certificate._id }}", ng-class="{viewed:certificate.viewed,processed:certificate.processed}") {{ certificate.agency }}
        span.list-cell-width-4x.list-cell-item {{ certificate.email }}
        span.list-cell-width-2x.list-cell-item {{ certificate.createdAt | date:"dd.MM.yyyy HH:mm" }}
  
      .list-placeholder
  
      .list-pagination
        div.buttons-group(pt-buttons-group, ng-model="currentPage", ng-show="pagination.length > 1")
          a.button(href="#", ng-repeat="page in pagination", class="{{ currentPage == page && 'active' }}") {{ page }}
