.dashboard
  .dashboard-block
    a(href="#!/pages").dashboard-block-title Контентные страницы
    //- .dashboard-block-content 5 баннеров в прямом эфире
  .dashboard-block
    a(href="#!/hotels").dashboard-block-title Гостиницы
    //- .dashboard-block-content 5 баннеров в прямом эфире
  .dashboard-block
    a(href="#!/news").dashboard-block-title Новости
    //- .dashboard-block-content 5 баннеров в прямом эфире
  .dashboard-block
    a(href="#!/excursions").dashboard-block-title Экскурсии
    //- .dashboard-block-content 5 баннеров в прямом эфире
  .dashboard-block
    a(href="#!/charges").dashboard-block-title Доплаты
    //- .dashboard-block-content 5 баннеров в прямом эфире
  .dashboard-block
    a(href="#!/contacts").dashboard-block-title Контакты
    //- .dashboard-block-content 5 баннеров в прямом эфире
  .dashboard-block
    a(href="#!/banners").dashboard-block-title Баннеры на главной странице
    //- .dashboard-block-content 5 баннеров в прямом эфире
  .dashboard-block
    a(href="#!/phones").dashboard-block-title Телефоны в шапке сайта
    //- .dashboard-block-content 5 баннеров в прямом эфире
  .dashboard-block
    a(href="#!/towns").dashboard-block-title Регионы в шапке сайта
    //- .dashboard-block-content 5 баннеров в прямом эфире
  .dashboard-block
    a(href="#!/menu").dashboard-block-title Меню
    //- .dashboard-block-content 5 баннеров в прямом эфире
  .dashboard-block
    a(href="#!/feedbacks").dashboard-block-title Отзывы и предложения
    //- .dashboard-block-content 5 баннеров в прямом эфире
  .dashboard-block
    a(href="#!/subscriptions").dashboard-block-title Подписки на рассылку
    //- .dashboard-block-content 5 баннеров в прямом эфире
  .dashboard-block
    a(href="#!/ticket-price-requests").dashboard-block-title Справки стоимости А/Б
    //- .dashboard-block-content 5 баннеров в прямом эфире
  .dashboard-block
    a(href="#!/documents-requests").dashboard-block-title Запросы на бух. документы
    //- .dashboard-block-content 5 баннеров в прямом эфире
  .dashboard-block
    a(href="#!/reservations").dashboard-block-title Заявки на бронирования
    //- .dashboard-block-content 5 баннеров в прямом эфире
