.content(pt-list)
  .title Заявки на бронирование

  section.content-block.block.block__color-blue(pt-search, class="block__search-collapsed")
    form.search
      .search-item
        label.search-label название агенства
        input(ng-model="filters.city")
        label.search-label стоимость
        input(ng-model="filters.price")

      a.show-detail-search(href="#!/form-descriptions/reservations") редактировать описание
      a.show-detail-search(ng-click="filters = {}", href="javascript:void(0)") очистить фильтр

  section.content-body
    .list
      .list-title
        span.list-cell-width-6x название агенства
        span.list-cell-width-4x стоимость
        span.list-cell-width-2x дата
  
      .list-placeholder

      .list-item(ng-repeat="reservation in filteredData | orderBy:'+createdAt'")
        a.list-cell-width-6x.list-cell-item(href="#!/reservations/{{ reservation._id }}", class="{{ reservation.viewed && 'viewed' }}") {{ reservation.agency }}
        span.list-cell-width-4x.list-cell-item {{ reservation.price }}
        span.list-cell-width-2x.list-cell-item {{ reservation.createdAt | date:"dd.MM.yyyy HH:mm" }}
  
      .list-placeholder
  
      .list-pagination
        div.buttons-group(pt-buttons-group, ng-model="currentPage", ng-show="pagination.length > 1")
          a.button(href="#", ng-repeat="page in pagination", class="{{ currentPage == page && 'active' }}") {{ page }}
