.content
  .title Подписка на рассылку


  .content-detail
    .content-detail-field
      label email
      input(type="text", ng-model="subscription.email", disabled="disabled") 

  .content-detail
    .content-detail-field
      label дата
      input(type="text", value="{{ subscription.createdAt | date:'dd.MM.yyyy HH:mm' }}", disabled="disabled") 

  .content-detail
    .content-detail-field
      .content-detail-processed
        label
          input(type="checkbox", ng-model="subscription.processed", ng-click="changeProcessed()")
          | Обработан
      a.content-detail-delete(ng-click="remove()") Удалить
