// BEGIN .wrap
.wrap
  // BEGIN .header
  header.header
    .logo
      a.logo__pic(href='#') Polar Tour
    a.link-old-version(href='#') старая версия
    .label.header__region(ng-controller="PtRegionCtrl")
      .label__title ваш регион
      pt-select(ng-model="$parent.region", pt-select-values="regions")
    pt-phones
    pt-menu
  // END .header
  // BEGIN .layout
  .layout
    // BEGIN .country
    pt-countries-menu(pt-countries-menu-type="yellow")
    // END .countries
    // BEGIN .container
    .container
      h1.container__title Заявка на бронирование
      // BEGIN .reserve
      .reserve
        .text(ng-bind-html-unsafe="description.description")
      .reserve__form(ng-show="sent")
        .success
          p Ваш запрос успешно отправлен. Спасибо!
          p
            a(href="#!/") вернуться на главную
      form.reserve__form(name="bookingRequestForm", ng-hide="sent", novalidate="novalidate")
        .title информация об агенстве
        .reserve__fields.reserve__fields_border
          .reserve__column
            label.label(class="{{ bookingRequestForm.city.$invalid && showValidation && 'label_error'}}")
              .label__title город
              input.label__text(type='text', name="city", ng-model="bookingRequest.city", required)
            label.label.reserve__agency(class="{{ bookingRequestForm.agency.$invalid && showValidation && 'label_error'}}")
              .label__title название агенства
              input.label__text(type='text', name="agency", ng-model="bookingRequest.agency", required)
            label.label.reserve__phone(class="{{ bookingRequestForm.phone.$invalid && showValidation && 'label_error'}}")
              .label__title телефон
              input.label__text(type='text', name="phone", ng-model="bookingRequest.phone", required)
            label.label.reserve__mail(class="{{ bookingRequestForm.email.$invalid && showValidation && 'label_error'}}")
              .label__title email
              input.label__text(type='email', name="email", ng-model="bookingRequest.email", required)
            label.label.reserve__address(class="{{ bookingRequestForm.address.$invalid && showValidation && 'label_error'}}")
              .label__title адрес
              input.label__text(type='text', name="address", ng-model="bookingRequest.address", required)
        .title заявка на бронирование тура
        .reserve__fields
          .reserve__column.reserve__column_small
            label.label(class="{{ bookingRequestForm.departure.$invalid && showValidation && 'label_error'}}")
              .label__title город отправления
              input.label__text(type='text', name="departure", ng-model="bookingRequest.departure", required)
          .reserve__column.reserve__column_small
            label.label(class="{{ bookingRequestForm.country.$invalid && showValidation && 'label_error'}}")
              .label__title страна
              input.label__text(type='text', name="country", ng-model="bookingRequest.country", required)
          .reserve__column.reserve__column_small
            label.label(class="{{ bookingRequestForm.tour.$invalid && showValidation && 'label_error'}}")
              .label__title тур
              input.label__text(type='text', name="tour", ng-model="bookingRequest.tour", required))
        .reserve__fields
          .reserve__column.reserve__column_small
            label.label(class="{{ bookingRequestForm.hotel.$invalid && showValidation && 'label_error'}}")
              .label__title отель
              input.label__text(type='text', name="hotel", ng-model="bookingRequest.hotel", required)
          .reserve__column.reserve__column_small
            label.label(class="{{ bookingRequestForm.placing.$invalid && showValidation && 'label_error'}}")
              .label__title размещение
              input.label__text(type='text', name="placing", ng-model="bookingRequest.placing", required)
          .reserve__column.reserve__column_small
            .label.reserve__date
              .label__title дата (от и до)
              .label__in(class="{{ bookingRequestForm.dateFrom.$invalid && showValidation && 'label_error'}}")
                pt-calendar(ng-model="bookingRequest.dateFrom", name="dateFrom", required)
              .label__dash —
              .label__in(class="{{ bookingRequestForm.dateTo.$invalid && showValidation && 'label_error'}}")
                pt-calendar(ng-model="bookingRequest.dateTo", name="dateTo", required)
        .reserve__fields.reserve__fields_border
          .reserve__column.reserve__column_small
            .fieldset.reserve__detail
              .label(class="{{ bookingRequestForm.nights.$invalid && showValidation && 'label_error'}}")
                .label__title ночей
                .label__in
                  pt-select(ng-model="bookingRequest.nights", pt-select-values="nights", name="nights", required)
              label.label(class="{{ bookingRequestForm.count.$invalid && showValidation && 'label_error'}}")
                .label__title количество туристов
                input.label__text(type='number', name="count", ng-model="bookingRequest.count", required)
          .reserve__column.reserve__column_small
            label.label(class="{{ bookingRequestForm.price.$invalid && showValidation && 'label_error'}}")
              .label__title цена
              input.label__text(type='number', name="price", ng-model="bookingRequest.price", required)
          .reserve__column.reserve__column_small
            label.label(class="{{ bookingRequestForm.number.$invalid && showValidation && 'label_error'}}")
              .label__title № СПО
              input.label__text(type='text', name="number", ng-model="bookingRequest.number", required)
        .title данные туристов
        .reserve__fields.reserve__fields_border
          .data
            .btn-field.btn-field-add(ng-click="addTourist()", ng-hide="bookingRequest.tourists.length >= 9")
              i.btn-field-ico
            div(ng-repeat="tourist in bookingRequest.tourists")
              div(pt-booking-requests-tourist, ng-model="tourist")
        .reserve__fields.reserve__fields_comm
          label.label(class="{{ bookingRequestForm.comment.$invalid && showValidation && 'label_error'}}")
            .label__title ваши комментарии
            textarea.label__textarea(name="comment", ng-model="bookingRequest.comment")
          .btn
            button.btn__item(ng-click="send()") отправить заявку
      // END .reserve
    // END .container
  // END .layout
  // BEGIN .pay-method
  .pay-method
    .title способы оплаты
    ul.pay-method__list
      li.pay-method__item
        a.pay-method__link-1(href='#')
      li.pay-method__item
        a.pay-method__link-2(href='#')
      li.pay-method__item
        a.pay-method__link-3(href='#')
      li.pay-method__item
        a.pay-method__link-4(href='#')
          | Платежные терминалы
          i.pay-method__ico
  // END .pay-method
  // BEGIN .links
  pt-footer-menu
  // END .links
  // BEGIN .systems
  .systems
    .title все наши предложения вы можете найти в системах
    ul.systems__list
      li.systems__item
        a.systems__link-1(href='#')
      li.systems__item
        a.systems__link-2(href='#')
      li.systems__item
        a.systems__link-3(href='#')
      li.systems__item
        a.systems__link-4(href='#')
      li.systems__item
        a.systems__link-5(href='#')
  // END .systems
// END .wrap
// BEGIN .footer
footer.footer
  .footer__in
    .copyright © 2013 Полар Тур
    .created
      | Совместно со студией "
      a.created__link(href='#') Ритхис
      | "
// END .footer
