// BEGIN .wrap
.wrap
  // BEGIN .header
  header.header
    .logo
      a.logo__pic(href='#') Polar Tour
    a.link-old-version(href='#') старая версия
    .label.header__region(ng-controller="PtRegionCtrl")
      .label__title ваш регион
      pt-select(ng-model="$parent.region", pt-select-values="regions")
    pt-phones
    pt-menu
  // END .header
  // BEGIN .layout
  .layout
    // BEGIN .country
    pt-countries-menu(pt-countries-menu-type="yellow")
    // END .countries
    // BEGIN .container
    .container
      h1.container__title
        | {{ page.name }}
        .choice(ng-show="links.length > 0")
          .choice__in
            .choice__done {{ country }}
            ul.choice__list
              li.choice__item(ng-repeat="link in links")
                a(href="#!{{ link.href }}")
                  | {{ getCountryName(link.code) }}
                  i(class="flags-f3 flag flag-{{ link.code }}")
      // BEGIN .content
      .content
        div(ng-bind-html-unsafe="page.description")
      // END .content
    // END .container
  // END .layout
  // BEGIN .pay-method
  .pay-method
    .title способы оплаты
    ul.pay-method__list
      li.pay-method__item
        a.pay-method__link-1(href='#')
      li.pay-method__item
        a.pay-method__link-2(href='#')
      li.pay-method__item
        a.pay-method__link-3(href='#')
      li.pay-method__item
        a.pay-method__link-4(href='#')
          | Платежные терминалы
          i.pay-method__ico
  // END .pay-method
  // BEGIN .links
  pt-footer-menu
  // END .links
  // BEGIN .systems
  .systems
    .title все наши предложения вы можете найти в системах
    ul.systems__list
      li.systems__item
        a.systems__link-1(href='#')
      li.systems__item
        a.systems__link-2(href='#')
      li.systems__item
        a.systems__link-3(href='#')
      li.systems__item
        a.systems__link-4(href='#')
      li.systems__item
        a.systems__link-5(href='#')
  // END .systems
// END .wrap
// BEGIN .footer
footer.footer
  .footer__in
    .copyright © 2013 Полар Тур
    .created
      | Совместно со студией "
      a.created__link(href='#') Ритхис
      | "
// END .footer
