// BEGIN .wrap
.wrap
  // BEGIN .header
  header.header
    .logo
      a.logo__pic(href='#') Polar Tour
    a.link-old-version(href='#') старая версия
    .label.header__region
      .label__title ваш регион
      .label__in
        .label__select
          input.label__text(type='text', value='Москва')
          button.label__btn
    pt-phones
    pt-menu
  // END .header
  // BEGIN .layout
  .layout
    // BEGIN .country
    pt-countries-menu(pt-countries-menu-type="yellow")
    // END .countries
    // BEGIN .container
    .container
      h1.container__title Отзывы и предложения
      // BEGIN .reviews
      .reviews
        .reviews__desc
          .text(ng-bind-html-unsafe="description.description")
        form.reviews__form(name="feedbackForm")
          .fieldset
            label.label(class="{{ feedbackForm.name.$invalid && showValidation && 'label_error'}}")
              .label__title ваше имя
              input.label__text(type='text', name="name", ng-model="feedback.name", required)
            label.label(class="{{ feedbackForm.email.$invalid && showValidation && 'label_error'}}")
              .label__title ваш e-mail
              input.label__text(type='email', name="email", ng-model="feedback.email", required)
          label.label(class="{{ feedbackForm.message.$invalid && showValidation && 'label_error'}}")
            .label__title ваше сообщение
            textarea.label__textarea(name="message", ng-model="feedback.message", required)
          .btn
            button.btn__item(ng-click="send()") отправить
      // END .reviews
    // END .container
  // END .layout
  // BEGIN .pay-method
  .pay-method
    .title способы оплаты
    ul.pay-method__list
      li.pay-method__item
        a.pay-method__link-1(href='#')
      li.pay-method__item
        a.pay-method__link-2(href='#')
      li.pay-method__item
        a.pay-method__link-3(href='#')
      li.pay-method__item
        a.pay-method__link-4(href='#')
          | Платежные терминалы
          i.pay-method__ico
  // END .pay-method
  // BEGIN .links
  pt-footer-menupt-menu
  // END .links
  // BEGIN .systems
  .systems
    .title все наши предложения вы можете найти в системах
    ul.systems__list
      li.systems__item
        a.systems__link-1(href='#')
      li.systems__item
        a.systems__link-2(href='#')
      li.systems__item
        a.systems__link-3(href='#')
      li.systems__item
        a.systems__link-4(href='#')
      li.systems__item
        a.systems__link-5(href='#')
  // END .systems
// END .wrap
// BEGIN .footer
footer.footer
  .footer__in
    .copyright © 2013 Полар Тур
    .created
      | Совместно со студией "
      a.created__link(href='#') Ритхис
      | "
// END .footer
