// BEGIN .wrap
.wrap(ng-controller="PtSearchCtrl")
  // BEGIN .header
  header.header
    .logo
      a.logo__pic(href='#') Polar Tour
    a.link-old-version(href='#') старая версия
    .label.header__region(ng-controller="PtRegionCtrl")
      .label__title ваш регион
      pt-select(ng-model="$parent.region", pt-select-values="regions")
    pt-phones
    pt-menu
  // END .header
  // BEGIN .search
  form.search(name="searchForm", ng-show="bigSearch", ng-submit="send(search, searchForm, true)")
    .title поиск тура
    a.search__close(ng-click="bigSearch = false")
    .search__form
      .search__fields
        .search__column
          .label(ng-class="{label_error: searchForm.from.$invalid}")
            .label__title город отправления
            pt-select(ng-model="$parent.search.from", name="from", pt-select-values="values.from")
        .search__column
          .label(ng-class="{label_error: searchForm.to.$invalid}")
            .label__title страна
            pt-select(ng-model="$parent.search.to", name="to", pt-select-values="values.to")
        .search__column
          .label(ng-class="{label_error: searchForm.tour.$invalid}")
            .label__title тур
            pt-select(ng-model="$parent.search.tour", name="to", pt-select-values="values.tour")
      .search__fields
        .search__column.search__column_date
          .label(ng-class="{label_error: searchForm.dateStart.$invalid || searchFrom.dateEnd.$invalid}")
            .label__title дата вылета
            pt-calendar(ng-model="$parent.search.dateStart", name="dateStart", pt-calendar-year-stop="2013", pt-calendar-year-reverse)
            .label__dash —
            pt-calendar(ng-model="$parent.search.dateEnd", name="dateEnd", pt-calendar-year-stop="2013", pt-calendar-year-reverse)
        .search__column.search__column_time
          .label
            .label__title ночей
            pt-range(ng-model="$parent.search.nights", pt-range-min="2", pt-range-max="14")
          .label
            .label__title стоимость
            pt-range(pt-range-min="{{ priceMin }}", pt-range-max="{{ priceMax }}", ng-model="$parent.search.price")
              pt-select-currency(pt-select-values="values.currency", pt-select-radio, ng-model="$parent.search.currency")
        .search__column.search__column_tourists
          .label(ng-class="{label_error: searchForm.adults.$invalid || searchFrom.childs.$invalid || searchForm.infants.$invalid}")
            .label__title путешественники
            .label__in(ng-class="{'label_active': showPassengers}")
              input.label__text(type='text', ng-model="passengersText")
              .label__btn(ng-click="showPassengers = !showPassengers")
              .label__drop.label__drop_numbers(ng-show="showPassengers")
                .label
                  .label__title взрослых
                  pt-number(ng-model="$parent.search.adults", pt-number-min="1", pt-number-max="9", name="adults")
                .label
                  .label__title детей
                  pt-number(ng-model="$parent.search.childs", pt-number-min="0", pt-number-max="8", name="childs")
                .label
                  .label__title младенцев
                  pt-number(ng-model="$parent.search.infants", pt-number-min="0", pt-number-max="8", name="infants")
      .search__fields.search__fields_detail
        .search__column
          .label(ng-class="{label_error: searchForm.town.$invalid}")
            .label__title город
            pt-select(ng-model="$parent.search.town", pt-select-values="values.town")
        .search__column
          .label(ng-class="{label_error: searchForm.category.$invalid}")
            .label__title категория
            pt-select(ng-model="$parent.search.category", pt-select-values="values.category", pt-select-radio)
        .search__column
          .label(ng-class="{label_error: searchForm.hotels.$invalid}")
            .label__title гостиницы
            pt-select(ng-model="$parent.search.hotels", pt-select-values="values.hotels", pt-select-multiselect)
      .search__fields.search__fields_down
        .search__column
          .label(ng-class="{label_error: searchForm.meal.$invalid}")
            .label__title питание
            pt-select(ng-model="$parent.search.meal", pt-select-values="values.meal", pt-select-radio)
        //
          .search__column.search__column_side
            .label.label_active
              .label__title Принимающая сторона
              .label__in
                input.label__text(type='text', value='Tadam')
                .label__btn
                .label__drop
                  .label__chosen
                    .label__chosen-item TezTour
                    .label__chosen-item Pegastouristic
                    .label__chosen-item TezTour
                  .label__list
                    .label__list-item Турция
                    .label__list-item Турция
                    .label__list-item Тунис
                    .label__list-item Тунис
                    .label__list-item Тунис
                    .label__list-item Тунис
                    .label__list-item Тунис
                    .label__list-item Тунис
        .search__column.search__column_param
          .label.label_checkbox(ng-class="{label_error: searchForm.places.$invalid}")
            pt-checkbox(ng-model="$parent.search.places", name="places")
            .label__title есть места на рейсах
          .label.label_checkbox(ng-class="{label_error: searchForm.stop.$invalid}")
            pt-checkbox(ng-model="$parent.search.stop", name="stop")
            .label__title нет остановки продаж
        .btn
          button.btn__item искать
  // END .search
  // BEGIN .layout
  .layout
    .right
      // BEGIN .country
      pt-countries-menu(pt-countries-white="$parent.bigSearch")
      // END .countries
    aside.aside
      // BEGIN .search-tour
      form.search-tour(name="smallSearchForm", ng-hide="bigSearch", ng-submit="send(search, smallSearchForm, false)")
        .title поиск тура
        .search-tour__form
          .fieldset
            .label
              .label__title город отправления
              pt-select(ng-model="$parent.search.from", name="from", pt-select-values="values.from")
            .label
              .label__title страна
              pt-select(ng-model="$parent.search.to", name="to", pt-select-values="values.to")
          .fieldset
            .label(ng-class="{label_error: smallSearchForm.dateSmall.$invalid}")
              .label__title дата вылета
              pt-calendar(ng-model="$parent.search.dateSmall", name="dateSmall", pt-calendar-year-stop="2013", pt-calendar-year-reverse)
            .label.label_mod(ng-class="{label_error: smallSearchForm.nights.$invalid}")
              .label__title ночей
              pt-number(ng-model="$parent.search.nightsSmall", name="nights", pt-number-min="2", pt-number-max="14")
        .btn
          button.btn__item искать
        a.link-search-extended(ng-click="bigSearch = true") расширенный поиск
      // END .search-tour
      // BEGIN .s-events
      .s-events(ng-controller="PtImportantNewsCtrl", ng-show="importantNews.length > 0")
        .title важные события
        ul.s-events__list
          li.s-events__item(ng-repeat="news in importantNews")
            a.s-events__link(ng-href='#!/news/{{ news._id }}') {{ news.title }}
            .s-events__time {{ news.createdAt | date:"dd.MM.yyyy HH:mm" }}
        .s-events__all
          a.s-events__all-link(href='#!/news') все новости
      // END .s-events
      // BEGIN .s-statement
      .s-statement
        .title проверка заявки
        .s-statement__form
          .fieldset
            label.label
              .label__title номер заявки
              input.label__text(type='text', placeholder='1234567')
            label.label
              .label__title номер паспорта
              input.label__text(type='text', placeholder='1234567')
          .btn
            button.btn__item проверить
      // END .s-statement
      // BEGIN .s-exchange
      .s-exchange(ng-controller="PtExchangeRatesCtrl", ng-show="rates")
        .title курс валют
        table.s-exchange__table
          tr
            th
            th(ng-repeat="currency in rates.currencies") {{ currency }}
          tr(ng-repeat="row in rates.rows")
            td {{ row.date }}
            td(ng-repeat="rate in row.rates") {{ rate }}
      // END .s-exchange
    .right
      // BEGIN .hot
      .hot(pt-banners)
      // END .hot
  // END .layout
  // BEGIN .pay-method
  .pay-method
    .title способы оплаты
    ul.pay-method__list
      li.pay-method__item
        a.pay-method__link-1(href='#')
      li.pay-method__item
        a.pay-method__link-2(href='#')
      li.pay-method__item
        a.pay-method__link-3(href='#')
      li.pay-method__item
        a.pay-method__link-4(href='#')
          | Платежные терминалы
          i.pay-method__ico
  // END .pay-method
  // BEGIN .links
  pt-footer-menu
  // END .links
  // BEGIN .systems
  .systems
    .title все наши предложения вы можете найти в системах
    ul.systems__list
      li.systems__item
        a.systems__link-1(href='#')
      li.systems__item
        a.systems__link-2(href='#')  
      li.systems__item
        a.systems__link-3(href='#')  
      li.systems__item
        a.systems__link-4(href='#')  
      li.systems__item
        a.systems__link-5(href='#')  
  // END .systems
// END .wrap
// BEGIN .footer
footer.footer
  .footer__in
    .copyright © 2013 Полар Тур
    .created
      | Совместно со студией "
      a.created__link(href='#') Ритхис
      | "
// END .footer
