// BEGIN .wrap
.wrap
  // BEGIN .header
  header.header
    .logo
      a.logo__pic(href='#') Polar Tour
    a.link-old-version(href='#') старая версия
    .label.header__region
      .label__title ваш регион
      .label__in
        .label__select
          input.label__text(type='text', value='Москва')
          button.label__btn
    pt-phones
    pt-menu
  // END .header
  // BEGIN .layout
  .layout
    // BEGIN .country
    pt-countries-menu(pt-countries-menu-type="yellow")
    // END .countries
    // BEGIN .container
    .container
      h1.container__title Доплаты
      // BEGIN .surcharge
      .surcharge
        .surcharge__form
          .fieldset
            .label
              .label__title принимающая сторона
              .label__in
                input.label__text(type='text', ng-model="supplementsFilter.operator")
            .label
              .label__title описание
              .label__in
                input.label__text(type='text', ng-model="supplementsFilter.description")
        .surcharge__list
          table.table
            thead.table__head
              tr.table__row
                th.table__head-title принимающая сторона
                th.table__head-title описание
                th.table__head-title стоимость
            tbody.table__body
              tr.table__row(ng-repeat="supplement in supplements | filter:supplementsFilter")
                td.table__cell {{ supplement.operator }}
                td.table__cell {{ supplement.description }}
                td.table__cell {{ supplement.price }}
      // END .search-hotel
    // END .container
  // END .layout
  // BEGIN .pay-method
  .pay-method
    .title способы оплаты
    ul.pay-method__list
      li.pay-method__item
        a.pay-method__link-1(href='#')
      li.pay-method__item
        a.pay-method__link-2(href='#')
      li.pay-method__item
        a.pay-method__link-3(href='#')
      li.pay-method__item
        a.pay-method__link-4(href='#')
          | Платежные терминалы
          i.pay-method__ico
  // END .pay-method
  // BEGIN .links
  pt-footer-menu
  // END .links
  // BEGIN .systems
  .systems
    .title все наши предложения вы можете найти в системах
    ul.systems__list
      li.systems__item
        a.systems__link-1(href='#')
      li.systems__item
        a.systems__link-2(href='#')
      li.systems__item
        a.systems__link-3(href='#')
      li.systems__item
        a.systems__link-4(href='#')
      li.systems__item
        a.systems__link-5(href='#')
  // END .systems
// END .wrap
// BEGIN .footer
footer.footer
  .footer__inpt-menu
    .copyright © 2013 Полар Тур
    .created
      | Совместно со студией "
      a.created__link(href='#') Ритхис
      | "
// END .footer
